.hero {
  margin-left: -100%;
  margin-right: -100%;
  padding-left: 100%;
  padding-right: 100%;
  height: 500px;
  background-image: url('../../assets/main.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: start;
  justify-content: center;
  font-size: 2em;
  flex-direction: column;
  color: white;
}

.hero-content p {
  text-align: end;
}

.hero-content {
  width: 100%;
}

.home-page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.ranks {
  display: flex;
  margin-top: 20px;
}

.ranks-left-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 450px;
}

.ranks-right-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 270px;
}

.ranks-item {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5em;
  display: flex;
  gap: 10px;
  align-items: center;
  width: fit-content;
}

.count-vacancies {
  border: 2px solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em !important;
}

.home-vacancies {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-vacancy-wrapper {
  background-color: white;
  padding: 20px 40px 20px 40px;
  box-shadow: 0 0 12px 1px lightgray;
  max-width: 480px;
}

.home-vacancy-info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.home-recent-popular-vacancies {
  display: flex;
  gap: 20px;
}

.home-popular-vacancies {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-recent-vacancies {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-key-value {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0px;
  align-items: center;
}

@media (max-width: 768px) {
  .hero {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
  }

  .hero-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(3px);
  }

  .ranks-left-list {
    width: 50%;
    margin-right: 0;
  }

  .ranks-right-list {
    width: 200px;
  }

  .ranks-item {
    font-size: 1.1em;
  }

  .count-vacancies {
    width: 20px;
    height: 20px;
  }

  .home-recent-popular-vacancies {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .ranks-left-list {
    margin-right: 5px;
  }

  .ranks-right-list {
    width: 200px;
  }

  .ranks-item {
    font-size: 1em;
  }

  .count-vacancies {
    width: 20px;
    height: 20px;
  }
}
