.seaman-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  gap: 20px;
}

.seaman-data-wrapper {
  width: 1000px;
  background-color: white;
  padding: 20px 20px 50px 20px;
  box-shadow: 0 0 12px 1px lightgray;
  box-sizing: border-box;
}

.seaman-data-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.seaman-data-top-left {
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;
}

.seman-data-top-left h2 {
  cursor: pointer;
}

.seaman-check-data {
  display: flex;
  gap: 10px;

  align-items: center;
  width: fit-content;
  user-select: none;
}

.check-data-bad {
  color: #b4c5d5;
  font-weight: 500;
  font-size: 1.1em;
}

.check-data-ok {
  color: black;
  font-weight: 500;
  font-size: 1.1em;
  display: flex;
  flex-wrap: wrap;
}

.seaman-data-key {
  width: 200px;
}

.seaman-data-body {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.seaman-data-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 29px;
}

.seaman-data-column-avatar {
  width: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.seaman-data-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sea-service-form-buttons {
  display: flex;
  gap: 20px;
}

.sea-service-form-submit {
  margin-bottom: 0;
}

.form-inputs {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.input {
  width: 250px;
}

.service-records-body {
  width: 100%;
}
.seaman-service-records {
  width: 100%;
  margin-bottom: 20px;
}
.seaman-service-record {
  width: 100%;
}

.service-record-left-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.service-record-left {
  font-size: 1.1em;
}

.service-record-right {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-weight: 600;
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .seaman-data-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
  .seman-data-body {
    gap: 10px;
  }
  .seman-data-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .seaman-data-columns {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  .seaman-data-column-avatar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1230px) {
  .seaman-data-wrapper {
    width: 650px;
  }
}

@media (max-width: 500px) {
  .seaman-data-wrapper {
    font-size: 0.9em;
  }
  .seaman-data-container {
    margin: 20px 0px 20px 0px;
  }
}
