.vacancies-side-bar {
  background-color: white;
  padding: 40px 40px 40px 40px;
  box-shadow: 0 0 12px 1px lightgray;
  width: 220px;
  height: 100%;
}

.vacancies-side-bar-buttons {
  display: flex;
  justify-content: space-between;
}

.vacancies-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

.vacancies-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vacancy-wrapper {
  background-color: white;
  padding: 20px 40px 20px 40px;
  box-shadow: 0 0 12px 1px lightgray;
  max-width: 790px;
}

.vacancy-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vacancy-info {
  display: flex;
  justify-content: space-between;
  gap: 290px;
}

.company-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.info-keys {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.key-value {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 70px;
  align-items: center;
}

.left-key {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  font-size: 1.1em;
  color: darkslategrey;
  width: 150px;
}

.right-value {
  flex: 1;
  font-weight: 600;
  font-size: 1.1em;
  min-width: 120px;
}

.vacancy-posted {
  width: 120px;
  text-align: end;
}

.no-vacancies {
  display: flex;
  width: 870px;
  justify-content: center;
  height: 75vh;
  align-items: center;
}

.vacancy-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.vacancy-content-bottom {
  margin-top: 40px;
}

@media (max-width: 768px) {
  .vacancy-info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .key-value {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
  .vacancies-side-bar {
    width: 100%;
  }

  .vacancies-list {
    width: 100%;
  }
  .no-vacancies {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1230px) {
  .vacancies-side-bar {
    width: 650px;
  }
  .vacancy-wrapper {
    width: 650px;
  }

  .vacancy-info {
    gap: 0;
  }
  .no-vacancies {
    width: 730px;
  }
}
